USE [EXE]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14/03/2025 4:52:28 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 14/03/2025 4:52:28 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 14/03/2025 4:52:28 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Blog]') AND type in (N'U'))
DROP TABLE [dbo].[Blog]
GO
USE [master]
GO
/****** Object:  Database [EXE]    Script Date: 14/03/2025 4:52:28 CH ******/
DROP DATABASE [EXE]
GO
/****** Object:  Database [EXE]    Script Date: 14/03/2025 4:52:28 CH ******/
CREATE DATABASE [EXE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EXE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EXE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EXE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EXE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EXE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EXE]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 14/03/2025 4:52:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[BlogContent] [varchar](max) NULL,
	[BlogTitle] [varchar](100) NULL,
	[ImageData] [varbinary](max) NULL,
	[ImageName] [varchar](50) NULL,
	[ImageType] [varchar](50) NULL,
	[CreateDateTime] [date] NULL,
	[CreateUserName] [varchar](30) NOT NULL,
	[UpdateDateTime] [date] NULL,
	[UpdateUserName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 14/03/2025 4:52:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[PRoductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](30) NULL,
	[CreateDateTime] [date] NULL,
	[CreateUserName] [varchar](30) NOT NULL,
	[UpdateDateTime] [date] NULL,
	[UpdateUserName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRoductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14/03/2025 4:52:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Address] [varchar](100) NULL,
	[Age] [int] NULL,
	[Authority] [varchar](255) NULL,
	[CreateDateTime] [date] NULL,
	[CreateUserName] [varchar](30) NOT NULL,
	[Credit] [numeric](18, 3) NULL,
	[Email] [varchar](30) NULL,
	[Gender] [int] NOT NULL,
	[Password] [varchar](255) NULL,
	[UpdateDateTime] [date] NULL,
	[UpdateUserName] [varchar](30) NULL,
	[UserName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Address], [Age], [Authority], [CreateDateTime], [CreateUserName], [Credit], [Email], [Gender], [Password], [UpdateDateTime], [UpdateUserName], [UserName]) VALUES (5, NULL, NULL, N'0', CAST(N'2025-03-03' AS Date), N'system', NULL, NULL, 0, N'$2a$10$DpTjtMsvMPGgjCYkaiMn3ei.5ydPxcMj9RN0PI7gv.oyaupHaOnle', NULL, NULL, N'thien')
INSERT [dbo].[User] ([UserId], [Address], [Age], [Authority], [CreateDateTime], [CreateUserName], [Credit], [Email], [Gender], [Password], [UpdateDateTime], [UpdateUserName], [UserName]) VALUES (6, NULL, NULL, N'0', CAST(N'2025-03-03' AS Date), N'system', NULL, NULL, 0, N'$2a$10$qZLW2gbycA7VHwwW3USLw.GXGv1wMefw6lcEbf.gdFu6.l.i3Hf0C', NULL, NULL, N'duong')
INSERT [dbo].[User] ([UserId], [Address], [Age], [Authority], [CreateDateTime], [CreateUserName], [Credit], [Email], [Gender], [Password], [UpdateDateTime], [UpdateUserName], [UserName]) VALUES (7, NULL, NULL, N'0', CAST(N'2025-03-13' AS Date), N'system', NULL, N'donthave@', 0, N'$2a$10$Rg5r1hS6SdtiFg5eAqklWOG42Iw0WiMvwz..Lsz/VYlsYFnf6AtNS', NULL, NULL, N'truong')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
