#About {
  .container{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .article {
    padding: 2.57em;
   
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  img{
    justify-self: center;
  }
}
