#Footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f8f8;
  // Ensure footer content does not overlap with page content
  padding-bottom: 60px;
  height: 15vh;

  .footer-section {
    flex: 1;
    margin: 0 10px;

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin: 5px 0;
    }

    .social-icons {
      display: flex;
      justify-content: center;

      img {
        width: 66px;
        height: 48px;
      }
    }
  }
}

.footer-fixed {
  bottom: auto;
  width: 100%;
  z-index: 1000; // Ensure it stays above other content
  background-color: #f8f8f8; // Ensure background color matches the footer
  /* Add any additional styling as needed */
}
