#Header {
  .header-container {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: Black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    .logo {
      padding-left: 30px;
      font-size: 1.5rem;
      font-weight: 700;
      color: #333;
      text-decoration: none;
    }
    a {
      color: azure;
      text-decoration: none;
      &:hover {
        color: aliceblue;
      }
    }
    .link-container {
      width: 30%;
      display: flex;
      justify-content: space-between;
    }
    .auth-container {
      width: 10%;
      display: flex;
      justify-content: space-between;
    }
  }
}
