#Header {
  position: sticky;
  top: 0;
  color: azure;
  .header-container {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: Black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    .logo {
      font-size: 1.5rem;
      font-weight: 700;
      color: #333;
      text-decoration: none;
    }
    a {
      color: azure;
      text-decoration: none;
      &:hover {
        color: aliceblue;
      }
    }
    .link-container {
      width: 30%;
      display: flex;
      justify-content: space-between;
      
    }
    .auth-container {
      width: 10%;
      display: flex;
      justify-content: space-between;
    }
  }
  .buttonCus{
    height:50px;
    width:120px;
    border-radius: 5px;
    text-align: center;
    justify-self:flex-end;
    align-self: flex-end;
    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      font-size: 16px;
    }
  }
  .buttonCus:hover{
    height:45x;
    width:120px;
    border-radius: 5px;
    text-align: center;
    background-color: #333;
    justify-self:flex-end;
    align-self: flex-end;
    a {
      text-decoration: none;
      color:whitesmoke;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
