#Header {
  position: sticky;
  top: 0;
  z-index: 1000; // Ensure header is on top of any card
  color: azure;
  .header-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: Black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    .logo {
      font-size: 1.5rem;
      font-weight: 700;
      color: #333;
      text-decoration: none;
    }
    a {
      color: azure;
      text-decoration: none;
      &:hover {
        color: aliceblue;
      }
    }
    .link-container {
      width: 40%;
      display: flex;
      justify-content: space-between;
    }
    .search-container {
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 5px;
      padding: 5px 10px;
      width: 15%;
      .search-icon {
        font-size: 1.2rem;
        color: #333;
        margin-right: 5px;
      }
      .search-input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 1rem;
      }
    }
    .auth-container {
      width: 10%; /* Adjusted width to accommodate the cart icon */
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cart-icon {
        font-size: 1.5rem;
        color: azure;
        cursor: pointer;
        margin-left: 20px;
        &:hover {
          color: aliceblue;
        }
      }
    }
  }
  .buttonCus{
    height:50px;
    width:75px;
    border-radius: 5px;
    text-align: center;
    justify-self:flex-end;
    align-self: flex-end;
    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      font-size: 16px;
    }
  }
  .buttonCus:hover{
    height:51x;
    width:76px;
    border-radius: 5px;
    text-align: center;
    background-color: #333;
    justify-self:flex-end;
    align-self: flex-end;
    a {
      text-decoration: none;
      color:whitesmoke;
      font-weight: bold;
      font-size: 16px;
    }
  }
  .cart-icon-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .cart-icon {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
  }
}
