#BlogPage{
.blog-page {
  padding: 20px;
  background-color: #f9f9f9;
  .error-message {
    color: red;
    height: 20px;
    align-self: center;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  &__add-button {
    margin-bottom: 20px;
  }
  .blog-container {
    max-width: 1210px;
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  @media screen and (min-width: 850px) {
    .grid {
      max-width: 83.3333333333%;
      -ms-flex-preferred-size: 83.3333333333%;
      flex-basis: 83.3333333333%;
      position: relative;
      margin: 0;
      padding: 0 15px 30px;
    }
  }
  .rowCustom {
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
    max-width: 1210px;
    display: flex;
    flex-flow: row wrap;
  }
  @media screen and (min-width: 850px) {
    .blog-link {
      max-width: 33.3333333333%;
      -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
    
      margin: 10px 0;
      text-decoration: none;
      color: inherit;
    }
  }
  .blog-item {
    height: 24rem;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      color: #555;
    }
  }
  
  .blog-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    padding: 5px;
    margin: 0;
  }
  
  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .card-title {
    margin: 0 0 10px 0;
  }
  
  .card-text {
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .add-button {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    justify-self: flex-end;
    align-self: flex-end;

    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      font-size: 16px;
    }
  }

  .add-button:hover {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    background-color: #333;
    margin-top: 20px;
    justify-self: flex-end;
    align-self: flex-end;
  }
}

.no-blogs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast {
  position: absolute;
  top: 20px;
  right: 20px;
}
}