#ProductDetail {
  padding: 20px;
  background-color: #f9f9f9;

  h1 {
    font-weight: bold;
    text-align: center;
    padding: 50px;
  }
  .title {
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
  }
  .container {
    padding-top: 50px;
    display: flex;
    max-width: 1440px;
    flex-direction: row;
    gap: 50px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .product-detail-image {
    flex: 1;
    object-fit: cover;
    @media screen and (max-width: 850px) {
      display: none;
      width: 90%;
    }
    img {
      max-width: 400px;
      max-height: 400px;
      object-fit: cover;
      aspect-ratio: 1 / 1; // Maintain square aspect ratio
      width: 100%;
      height: auto;
      object-position: 50% 50%;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  .product-detail-mobile-image {
    display: none;
    @media screen and (max-width: 850px) {
      display: block;
      width: 90%;
    }
    img {
      object-fit: cover;
      aspect-ratio: 1 / 1; // Maintain square aspect ratio
      width: 100%;
      height: auto;
      object-position: 50% 50%;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  .product-detail-info {
    width: 60%;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media screen and (max-width: 850px) {
      width: 100%;
    }
    .product-name {
      text-align: start;
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }

    .product-description {
      text-align: start;
      font-size: 1.2rem;
      color: #666;
    }

    .item-selection {
      width:100%;
      height:auto;
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        font-size: 1rem;
        color: #333;
      }

      select {
        padding: 5px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .item-buttons {
      display: grid;
      grid-template-columns: repeat(4, minmax(0px, 1fr));
      @media screen and (max-width: 550px) {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        
      }
      @media screen and (max-width: 350px) {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
        
      }
      gap: 10px;
    }

    .item-button {
      padding: 5px 13px; /* Adjusted padding for better appearance */
      border: 2px solid #000; /* Black border */
      background-color: #fff; /* White background */
      font-size: 1rem; /* Font size adjustment */
      font-weight: bold; /* Bold text */
      color: #000; /* Black text color */
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    }

    .item-button.active {
      background-color: #000; /* Black background for active button */
      color: #fff; /* White text for active button */
    }

    .item-button:hover {
      background-color: #333; /* Darker hover background */
      color: #fff; /* White text on hover */
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: bold;
      color: #e91e63;
    }

    .quantity-selection {
      margin-top: 20px;

      label {
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
      }

      .quantity-buttons {
        display: flex;
        align-items: center;
        gap: 10px;

        .quantity-button {
          width: 30px;
          height: 30px;
          background-color: #f9f9f9;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #e0e0e0;
          }
        }

        .quantity-display {
          font-size: 16px;
          font-weight: bold;
          color: #333;
          border: 1px solid #ccc; /* Add border */
          padding: 10px 15px; /* Add padding */

          background-color: #fff; /* White background */
          text-align: center; /* Center text */
        }
      }
    }
    .add-to-cart {
      width: 11rem;
      height: 5rem;
      background-color: #000; /* Black background for active button */
      color: #fff; /* White text for active button */
      font-size: 1rem; /* Font size adjustment */
      font-weight: bold; /* Bold text */
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      &:hover {
        background-color: #fff; /* Darker hover background */
        color: #333; /* White text for active button */
      }
    }
  }
}
